*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    gap: 2rem;
    min-height: 100vh;
    background-image: conic-gradient(
        at 125% 50%,
        #b78cf7,
        #ff7c94,
        #ffcf0d,
        #ff7c94,
        #b78cf7
        );
        font-family: system-ui;
}

.button {
    padding: .75em 1.25em;
    cursor: pointer;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 700;
    color: hsl(320, 40%, 40%);
    background-color: hsl(349 100% 95%);
    border: 0;
    border-radius: 1.25rem;
}

.glow-effect {
    --glow-line-color: #fff;
    --glow-line-thickness: 2px;
    --glow-blur-color: #f00;
    --glow-blur-size: 10px;
    --container-offset: 100px;
    position: relative;
}

.glow-container {
    pointer-events: none;
    position: absolute;
    inset: calc(var(--container-offset) / -2);
    width: calc(100% + var(--container-offset));
    height: calc(100% + var(--container-offset));
    /* outline: 3px solid blue; */
    /* opacity: 0; */
}

.glow-blur,
.glow-line {
    width: calc(100% - var(--container-offset));
    height: calc(100% - var(--container-offset));
    fill: transparent;
    x: calc(var(--container-offset) /2);
    y: calc(var(--container-offset) /2);
    rx: 1.25rem;
    stroke: black;
    stroke-width: 5px;
    stroke-dasharray: 20px 30px;
    transition: stroke-dashoffset 2000ms;
}

.glow-effect:hover .glow-blur,
.glow-effect:hover .glow-line {
    stroke-dashoffset: -65px;
}

.glow-line {
    stroke: var(--glow-line-color);
    stroke-width: var(--glow-line-thickness);
}

.glow-blur {
    filter: blur(var(--glow-blur-size));
    stroke: var(--glow-blur-color);
    stroke-width: var(--glow-blur-size);
}

/* .glow-effect:is(:hover, :focus), .glow-container {
    animation: glow-visibility 5000ms;
} */

@keyframes glow-visibility {
    0%, 100% {opacity: 0}
    25%, 75% {opacity: 1}
    /* 75% {opacity: 1}
    100% {opacity: 0} */
}
